<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Web Page</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

  

    <div class="section login-section Admin-section" id="admin" style="border-right: 1px solid  #CDCDCD;" >
        <h2 style="color:  #646464;">Create User</h2>
        <form>
            <label for="">User ID</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="">Password</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button>Submit</button>
        </form>
    </div>

    <div class="section image-section Admin-section" id="userId-div">
       <div>
        <h2>View User</h2>
        <% let counter=1 %>
        <% for(let data of docs){%>

        <div id="user1">
            <p><%=counter++%></p>
            <input type="text" disabled placeholder="<%= data.userId %>">
        </div>

        <% } %>
        <form action="/viewUser" method="get">
            <button>View</button>
        </form>
       </div>
    </div>

</body>

</html>