<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Web Page</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <div class="section image-section" style="padding: 0; overflow: hidden;">
        <img src="http://localhost:8000/images/loginImage.jpg" alt="Image">
    </div>

    <div class="section login-section">

        <h2 style="color:  #646464;">User Login</h2>
        <form action="/updateProfile" method="post">
            <input type="text" id="username" placeholder="User Id" name="userId" required>
            <br>
            <input type="password" id="password" placeholder="Password" name="password" required>
            <br>
            <button>Login</button>
        </form>

    </div>

</body>

</html>