<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .view-div button {
            margin-right: 10px;
            color: blue;
            border: 1px solid blue;
            padding: 10px;
            max-width: 128px;
            max-width: 59px;
            border-radius: 5px;
            min-width: 90px;
            min-height: 45px;
        }

        .profile-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .profile-div form {
            margin-top: 200px;

        }

        .profile-div form input {
            width: 100%;
            padding: 10px;
            border: 1px solid #CDCDCD;
            border-radius: 5px;
        }

        .profile-div form label {
            margin-top: 10px;
            color: #CDCDCD;
        }

        .profile-div form button {
            background-color: blue;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #CDCDCD;
            width: 105%;
            margin-top: 30px;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div style="text-align: end;" class="view-div">
        <button>View</button>
    </div>

    <div class="profile-div">
        <form action="/profileUpload" method="POST" enctype="multipart/form-data">
         
            <label for="username">Name</label><br> 
            <input name="profile[username]" type="text" required>
            <br><br>

            <label for="image">photo</label><br>
            <input name="profile[image]" type="file" required>
            <br>
            
            <button>Upload</button>
        </form>
    </div>
</body>

</html>