<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user.css">

</head>

<body>
    <div style="text-align: end;" class="view-div">
        <% for(let data of userData){ %>

        <form action="/status/<%=data._id%>" method="get">
            <button id="view-btn">View</button>
        </form>

        <% } %>

    </div>

   

    <div class="profile-div" id="profile">
        <% for(let data of userData){ %>
        <form action="/profileUpload/<%=data._id%>" method="POST" enctype="multipart/form-data" id="form-container">
            <p><%=data._id%></p>
            <label  for="username">Name</label><br> 
            <input name="profile[username]" type="text" id="username" required>
            <br><br>

            <label for="image">photo</label><br>
            <input name="profile[image]" type="file" required>
            <br>
            
            <button>Upload</button>
        </form>
        <% } %>
    </div>

    <div id="status-div">
        <div style="text-align: end;"><button id="back-btn">Back</button></div>
        <div id="container">
            <label for="">Name</label>
            <input type="text" name="" id="" placeholder="Ramesh Kumar" disabled><br>
            <label for="">Photo</label>
            <img src="http://localhost:8000/images/loginImage.jpg" alt="">
        </div>
    </div>

   

    <script src="/js/script.js"></script>

</body>


</html>